/*.content{
  display: contents,
}

.humeur{
   
    width: 50%;
    height: 50%;
    background: rgb(0, 204, 255);
   
    position: relative;
}

.besoin{
    

width: 50%;
height: 50%;
background: rgb(21, 148, 70);
}

.bouton{
  
    width: 50%;
    height: 100%;
    background: rgba(255, 0, 119, 0.815);
    margin: 0%;
    position: relative;
}

img{
  width: 150px;
  height: 150px;
}*/

body{
  background: rgb(13, 198, 223);
}
.pet{
border-radius: 10px;
width: 300px;
height: 300px;
}

.block{
  width: 100%;
}

.bouton{
  padding: 6px 50px;
  background: rgb(255, 0, 64);
  color:white;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}


.bouton:hover{
  background: rgb(204, 0, 255);
}

.bouton:active{
  background: rgb(0, 247, 255);
}

.bar{
  width: 100%;
  height: 30px;
  background: rgba(10, 18, 138, 0.623);
  margin: 5px 10px;
  border-radius: 4px;
  padding: 3px 3px;
}


#conso{

 justify-items: right; 
 
 

}



#block-bouton{
  padding: 10px 0px;
 
}

#blockimg{
  padding: 0px Opx;
  
}

#message{
  color: rgb(243, 11, 11);
}
 h1{
   text-align: center;
 }